/deep/ .custom-text1 {
  color: #D5D5D5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center
}
/deep/ .custom-text2 {
  color: #D5D5D5;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 30px;
  line-height: 1
}
/deep/ .custom-text-login {
  color: #090909;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
/deep/ .custom-text-table1 {
  color: #D5D5D5;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
/deep/ .custom-text-table2 {
  color: #090909;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 15px;
}

/deep/ .custom-btn-signin {
  margin-top: 7px;
  width: 100%;
  border: none;
  border-radius: 0;
  color: #D5D5D5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/deep/ .custom-btn-submit {
  transition-duration: 0.4s;
  margin-left: 6px;
  margin-right: 6px;
  align-content: center;
  justify-items: center;
  height: 35px;
  min-width: 40px;
  background-color: #009b56;
  border: none;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  color: #D5D5D5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold
}
/deep/ .custom-btn-submit:hover {
  background-color: #008046;
}

/deep/ .custom-btn-white {
  transition-duration: 0.4s;
  margin-left: 6px;
  margin-right: 6px;
  align-content: center;
  justify-items: center;
  height: 35px;
  min-width: 40px;
  background-color: #D5D5D5;
  border: none;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  color: #090909;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold
}
/deep/ .custom-btn-white:hover {
  background-color: #7C7C7C;
}
/deep/ .custom-btn-white:disabled {
  background-color: #7C7C7C;
}

/deep/ .custom-btn-delete {
  transition-duration: 0.4s;
  margin-left: 6px;
  margin-right: 6px;
  align-content: center;
  justify-items: center;
  height: 35px;
  min-width: 40px;
  background-color: #6B0D15;
  border: none;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  color: #D5D5D5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold
}
/deep/ .custom-btn-delete:hover {
  background-color: #090909;
}

/deep/ .custom-btn-addArtist {
  transition-duration: 0.4s;
  margin-left: 6px;
  margin-right: 6px;
  align-content: center;
  justify-items: center;
  height: 35px;
  min-width: 40px;
  background-color: #D5D5D5;
  border: none;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  color: #090909;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold
}
/deep/ .custom-btn-addArtist:hover {
  background-color: #009b56;
  color: #D5D5D5
}

/deep/ .custom-btn-deleteArtist {
  transition-duration: 0.4s;
  margin-left: 6px;
  margin-right: 6px;
  align-content: center;
  justify-items: center;
  height: 35px;
  min-width: 40px;
  background-color: #D5D5D5;
  border: none;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  color: #090909;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold
}
/deep/ .custom-btn-deleteArtist:hover {
  background-color: #6B0D15;
  color: #D5D5D5
}

/deep/ .custom-money {
  transition-duration: 0.4s;
  margin-left: 6px;
  margin-right: 6px;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: left;
  height: 30px;
  background-color: transparent;
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-left-color: #D5D5D5;
  border-left-width: 4px;
  text-align: left;
  color: #D5D5D5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
}
/deep/ .custom-money:hover {
  background-color: #D5D5D5;
  color: #090909;
}

/deep/ .custom-btn-dark {
  transition-duration: 0.4s;
  margin-left: 6px;
  margin-right: 6px;
  align-content: center;
  justify-items: center;
  align-items: center;
  display: inline-flex;
  justify-content: left;
  height: 35px;
  min-width: 40px;
  background-color: #090909;
  border: none;
  border-radius: 0;
  text-align: center;
  color: #D5D5D5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold
}
/deep/ .custom-btn-dark:hover {
  background-color: #6B0D15;
}

/deep/ .custom-card {
  background-color: #D5D5D5;
  color: #090909;
  padding: 0;
  border: none;
  border-radius: 0;
  width: auto;
  height: auto;
  align-self: center;
  align-content: center;
  justify-content: center;
}

/deep/ .custom-card-login {
  margin-top: 5px;
  align-self: center;
  align-content: center;
  justify-content: center;
  text-align: left;
  background-color: #D5D5D5;
  border: none;
  border-radius: 0;
  width: 350px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/deep/ .custom-card-newartist {
  margin-top: 5px;
  align-self: center;
  align-content: center;
  justify-content: center;
  text-align: left;
  background-color: #D5D5D5;
  border: none;
  border-radius: 0;
  width: 450px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/deep/ .custom-add-to-cart {
  transition-duration: 0.4s;
  border: none;
  background-color: #090909;
  color: #D5D5D5;
  width: auto;
  height: auto;
  padding: 10px;
}
/deep/ .custom-add-to-cart:hover {
  background-color: #6B0D15;
  border-radius: 0;
  border: none;
}
/deep/ .custom-add-to-cart:disabled {
  color: #7C7C7C;
}

/deep/ .custom-btn-table {
  transition-duration: 0.4s;
  background-color: transparent;
  color: #090909;
  border-radius: 0px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
}

/deep/ .custom-btn-table:hover {
  background-color: transparent;
  color: #6B0D15;
  border-radius: 0px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
}

/deep/ .custom-hr2 {
  border-top: 3px solid;
  margin-top: 0;
  margin-bottom: 10px;
}

/deep/ hr {
  border-color: #090909;
  border: 0;
  border-top: 4px solid;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

