.bluebg {
  background-color: #1b86e8;
}

.bluesidebar {
  background-color: #d2e8f6;
}

.custom-text-title {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
}

.custom-text-body {
  font-family: "Roboto", sans-serif;
}

.icons-assignatura {
  font-size: 26px;
  margin-left: 25px;
  margin-right: 10px;
}

.text-assignatura {
  font-size: 18px;
}

.seccio-assignatura {
  font-size: 24px;
  font-weight: bold;
}
